Repository mehul0810/klaive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, eslint --fix, stylelint --fix

fix: update Settings.php to add wrapper class for fields
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: load admin assets as per the requirement
  src/admin/Actions.php
Due: npm run lint:textdomain

fix: simple basic css based on the need
  assets/src/css/admin/main.scss
Due: stylelint --fix

fix: remove automation on commit
  .huskyrc.json
  .lintstagedrc.json
Due: prettier --write

fix: update webpack config as per the need
  webpack.config.js
Due: eslint --fix

fix: add required attributes to klaviyo create account anchor tag
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: update klaviyo select list html markup
  src/admin/Actions.php
Due: npm run lint:textdomain

fix: add js to support toggle for metabox as well as settings fields
  assets/src/js/admin/main.js
Due: eslint --fix

fix: show hide metabox fields based on the selection
  src/includes/Filters.php
Due: npm run lint:textdomain

fix: add helper fns based on the need
  src/includes/Helpers.php
Due: npm run lint:textdomain

fix: subscribe donor to klaviyo
  src/includes/Actions.php
Due: npm run lint:textdomain

fix: update html markup for admin klaviyo list
  src/admin/Actions.php
Due: npm run lint:textdomain

fix: resolve webpack production build issue
  src/admin/Actions.php
Due: npm run lint:textdomain

fix: remove unnecessary items from webpack config file
  webpack.config.js
Due: eslint --fix

fix: rename the plugin to klaive for better context in terms of legality
  README.md
  assets/src/css/admin/main.scss
  assets/src/js/admin/main.js
  composer.json
  config/constants.php
  klaive.php
  license.txt
  package-lock.json
  package.json
  phpcs.ruleset.xml
  readme.txt
  src/Plugin.php
  src/admin/Actions.php
  src/admin/Settings.php
  src/includes/Actions.php
  src/includes/Filters.php
  src/includes/Helpers.php
  uninstall.php
  webpack.config.js
  wp-textdomain.js
Due: prettier --write, npm run lint:textdomain, eslint --fix, stylelint --fix

fix: move Filters.php to better location and add settings link
  src/Plugin.php
  src/admin/Filters.php
Due: npm run lint:textdomain

fix: add language file
  languages/klaive.pot
Due: none

fix: update issue with class name
  src/admin/Actions.php
  src/admin/Filters.php
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: show rest of the fields only when settings enabled
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: show hide metabox fields based on the settings
  src/admin/Filters.php
Due: npm run lint:textdomain

fix: update the default text field description
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: hide list dropdown when api key is empty
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: improve class names
  src/admin/Actions.php
  src/includes/Actions.php
Due: npm run lint:textdomain

fix: add fn to refresh the klaviyo list
  src/admin/Actions.php
Due: npm run lint:textdomain

fix: add js for refresh button
  assets/src/js/admin/main.js
Due: eslint --fix

fix: add class and its related css for spinner
  assets/src/css/admin/main.scss
  src/admin/Actions.php
Due: npm run lint:textdomain, stylelint --fix

fix: simplify issues related to namespaces
  src/admin/Actions.php
  src/admin/Filters.php
  src/includes/Helpers.php
Due: npm run lint:textdomain

fix: improve name and description
  klaive.php
Due: npm run lint:textdomain

fix: update settings fields for header description
  src/admin/Settings.php
Due: npm run lint:textdomain

fix: update the css for header description
  assets/src/css/admin/main.scss
Due: stylelint --fix

fix: update README.md
  README.md
Due: none

fix: update readme.txt
  readme.txt
Due: none

fix: update tested upto WP version
  readme.txt
Due: none

fix: update language file
  languages/klaive.pot
Due: none

add .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

update .babelrc
  .babelrc
Due: none

add .huskyrc.json
  .huskyrc.json
Due: prettier --write

add package.json and its lock file
  package-lock.json
  package.json
Due: prettier --write

update phpcs ruleset
  phpcs.ruleset.xml
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
