Repository mehul0810/klaive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write", "git add"],
    "*.php": ["npm run lint:textdomain", "git add"],
    "*.{js,jsx}": ["eslint --fix", "git add"],
    "*.scss": ["stylelint --fix", "git add"]
}

update package.json
  package.json
Due: prettier --write

update composer.json
  composer.json
Due: prettier --write

update composer lock file
  composer.lock
Due: none

remove unnecessary spaces from actions.php
  src/admin/Actions.php
Due: npm run lint:textdomain

update admin folder temporarily
  src/admin123/Actions.php
  src/admin123/Filters.php
  src/admin123/Settings.php
Due: npm run lint:textdomain

revert back to proper dir name
  src/Admin/Actions.php
  src/Admin/Filters.php
  src/Admin/Settings.php
Due: npm run lint:textdomain

update includes dir name temporarily
  src/includes123/Actions.php
  src/includes123/Helpers.php
Due: npm run lint:textdomain

move files to proper Includes dir
  src/Includes/Actions.php
  src/Includes/Helpers.php
Due: npm run lint:textdomain

update plugin main engine file
  src/Plugin.php
Due: npm run lint:textdomain

update plugin version to 1.0.1
  config/constants.php
  klaive.php
  readme.txt
Due: npm run lint:textdomain

update urls on readme
  readme.txt
  src/Admin/Settings.php
Due: npm run lint:textdomain

minor change in readme file
  readme.txt
Due: none

add appsero privacy policy to readme file
  readme.txt
Due: none

update klaive language file for 1.0.1
  languages/klaive.pot
Due: none

add deploy.yml github action
  .github/workflows/deploy.yml
Due: none

update .gitattributes
  .gitattributes
Due: none

add composer install support to deploy yml
  .github/workflows/deploy.yml
Due: none
